@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 1.2s;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0px 4px 14px rgb(146 146 146 / 31%);
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: #888;
  position: absolute;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body {
  background-color: rgb(231, 226, 220);
}

header {
  text-align: center;
  margin: 2.5rem auto 1.5rem;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

header p {
  width: 500px;
  margin: auto;
  font-size: 14px;
  color: #686464;
}

.container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.card {
  margin-bottom: 1.75rem;
  width: 300px;
  /* height: 400px; */
  aspect-ratio: 1 / 1.45;
  /* background-color: #f6f6f6; */
}

.card-img {
  width: 100%;
  /* height: 350px; */
}

.card-img img {
  width: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
  background-color: #f6f6f6;
  aspect-ratio: 1 / 0.3;
}

.role {
  font-size: 14px;
  padding-top: 5px;
  color: #686464;

}

/* .card-text.name{
    
} */
